<div class="form-group">
    <div class="col-lg-10">
        <input type="email" class="form-control" placeholder="我的微信号是">
    </div>
</div>
<div class="form-group">
    <div class="col-lg-10">
        <input type="email" class="form-control" placeholder="我的qq号是">
    </div>
</div>
<div class="form-group">
    <div class="col-lg-10">
        <input type="email" class="form-control" placeholder="我的微信号是">
    </div>
</div>
<button style="width: 93%;margin: auto;display: block;" class="btn m-b-xs btn-sm btn-default btn-addon"><i class="fa fa-plus"></i>添加套话</button>