<div class="panel panel-default" ng-controller="changeMingPianCtrl">

    <div class="panel-body">
        <form class="bs-example form-horizontal ng-pristine ng-valid">
            <div class="form-group">
                <label class="col-lg-2 control-label">名字</label>
                <div class="col-lg-10">
                    <input type="email" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">QQ号</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">微信号</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" placeholder="">
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">手机</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" placeholder="">
                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-2 control-label">技能</label>
                <div ng-repeat="skill in skillArray" class="col-lg-offset-2 col-lg-10">
                    <div class="checkbox">
                        <label class="i-checks">
                            <input type="checkbox"><i></i>{{skill.name}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group" style="width: 100%;margin: auto; margin-bottom: 10px">
                <label>Message</label>
                <textarea class="form-control" rows="6" placeholder="Type your message"></textarea>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-sm btn-info">保存</button>
                </div>
            </div>
        </form>
    </div>
</div>