<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
    <div class="list-group bg-info auto m-b-sm m-b-lg">
        <a ui-sref="event.changeMingPian" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-sign-in m-r-xs"></i> 修改名片
        </a>
        <a ui-sref="event.changeMeetingPlace" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-sign-in m-r-xs"></i> 修改见面地点
        </a>
        <a ui-sref="event.changeTaoHua" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-sign-in m-r-xs"></i>修改套话
        </a>
        <a ui-sref="event.viewYourLikeProject" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-sign-in m-r-xs"></i>喜欢过的项目
        </a>
        <a ui-sref="event.eventFeedBack" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-sign-in m-r-xs"></i>反馈意见
        </a>
        <a ui-sref="event.eventSignOut" class="list-group-item">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-sign-in m-r-xs"></i>登出
        </a>
    </div>
</div>