<div ng-controller="userSigninCtrl">
    <input type="text" ng-model="username" placeholder="user name" />
    <input type="password" ng-model="password" placeholder="password" />
    <button ng-click="signin()" value="submit">submit</button>

    <button ng-click="signout()">signout</button>
</div>