<div ng-controller="biaoqianCtrl">
    biaoqianCtrl

    <br>

    <div ui-module="select2">
        <input
                type="hidden"
                ui-select2="select2Options"
                ng-model="list_of_string"
                class="form-control w-md"
                >
    </div>
    <button ng-click="click()">click</button>
</div>