<div ng-controller="detectMobileDeviceCtrl">
    detectMobileDeviceCtrl
   <div ng-if="!isMobile" ng-include="'js/app/detectMobileDevice/detectMobileDeviceDesktop/detectMobileDeviceDesktop.html'"></div>
    <div ng-if="isMobile" ng-include="'js/app/detectMobileDevice/detectMobileDeviceMobile/detectMobileDeviceMobile.html'"></div>
</div>