<div ng-controller="ngInfiniteScrollCtrl" ng-init="count()">
    ngInfiniteScroll.html
    <br>
    <div infinite-scroll='nextPage()' infinite-scroll-distance='1'>
        <div ng-repeat='item in items'>aa
            <span class='score'>{{item.attributes}}</span>
      <span class='title'>
        <a ng-href='{{item.url}}' target='_blank'>{{item.title}}</a>
      </span>
            <small>by {{item.author}} -
                <a ng-href='http://reddit.com{{item.permalink}}' target='_blank'>{{item.num_comments}} comments</a>
            </small>
            <div style='clear: both;'></div>
        </div>
        <div ng-show='reddit.busy'>Loading data...</div>
    </div>z
</div>