<div class="form-group">
    <div class="col-lg-10">
        <input style="display: inline-block;width: 90%" type="email" class="form-control" placeholder="广州中山大道147号"><i class="glyphicon glyphicon-remove" style="
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 31px;
    border: 1px solid;
    border-color: gray;
    border-color: #cfdadd;
    background-color: #fff;
"></i>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-10">
        <input style="display: inline-block;width: 90%" type="email" class="form-control" placeholder="广州中山大道147号"><i class="glyphicon glyphicon-remove" style="
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 31px;
    border: 1px solid;
    border-color: gray;
    border-color: #cfdadd;
    background-color: #fff;
"></i>
    </div>
</div>
<div class="form-group">
    <div class="col-lg-10">
        <input style="display: inline-block;width: 90%" type="email" class="form-control" placeholder="广州中山大道147号"><i class="glyphicon glyphicon-remove" style="
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 31px;
    border: 1px solid;
    border-color: gray;
    border-color: #cfdadd;
    background-color: #fff;
"></i>
    </div>
</div>
<button style="width: 93%;margin: auto;display: block;" class="btn m-b-xs btn-sm btn-default btn-addon"><i class="fa fa-plus"></i>添加常用见面地点</button>
<button style="width: 93%;margin: auto;margin-top:10px;display: block;" class="btn m-b-xs btn-sm btn-default btn-addon">保存</button>