<section id="map" ng-controller="MapCtrl" >
    map
    <div style="  position: relative;
  margin-left: 100px;
  margin-right: 100px;
  height: 300px;
  border: 5px solid #b5e853;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;" ui-map="myMap" ui-options="mapOptions" class="map-canvas"></div>
</section>