<div ng-controller="leancloudRealtimeCtrl">
    leancloudRealtimeCtrl{{xiaoxi}}
    <input ng-model="message" type="text"/><button ng-click="send()">send</button>
    <lable ng-repeat="msg in xiaoxi">{{msg}}</lable>
</div>