<div ng-controller="keshihuobianyiCtrl">

    <textarea id="editor_id" name="content" style="width:700px;height:300px;">
        &lt;strong&gt;HTML内容&lt;/strong&gt;
    </textarea>
    <button ng-click="getHTML();">get html</button>
    <div ng-bind-html="htmlString"></div>
</div>