<div ng-controller="pagnationCtrl" ng-init="count()">
    pagnation.html
    <br>

    <div class="panel-body">

        <!-- here is the dir-paginate directive for the meals -->
        <ul>
            <li dir-paginate="printer in printers | filter:q | itemsPerPage: pageSize" current-page="currentPage" total-items="total" pagination-id="mealsPagination">{{ printer.attributes.html }}</li>
        </ul>

    </div>
    <br>
    <br>
    <div class="text-center">
        <dir-pagination-controls boundary-links="true" pagination-id="mealsPagination" on-page-change="pageChangeHandler(newPageNumber)" template-url="js/libs/bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
    </div>
</div>