<div ng-controller="uploadFilesCtrl">
    <input id="profilePhotoFileUpload" type="file">
    <button ng-click="saveFile()" type="submit">上传图片</button>
    <img ng-src="{{user.attributes.userProfile._url}}">
</div>