<div class="form-group" style="width: 93%;margin: auto; margin-bottom: 10px">
    <label></label>
    <textarea class="form-control" rows="6" placeholder="请告诉我们需要改进的地方"></textarea>
</div>
<div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
        <button type="submit" class="btn btn-sm btn-info">发送</button>
    </div>
</div>