<div ng-controller="stateparasamepageCtrl">
    <ul>
        <li ng-repeat="type in articleTypes" ng-click="clickType(type)"><a>
            {{type.attributes.typeName}}
        </a></li>
    </ul>
    <ul>
        <li ng-repeat="article in articles" ng-click="clickArticle(article)">
            {{article.attributes.articleTitle}}
        </li>
    </ul>

    <span ng-bind="content">
        {{content}}
    </span>
</div>