<div ng-controller="addRelationCtrl">
    <div ng-repeat="article in articles">
        {{article.attributes.articleTitle}}<button ng-click="addRelation(article)">收藏</button> <br><br>
    </div>
</div>